

:root{
    
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    
    

}
body.dark{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}
body{
    
    line-height: 1.5;
    font-size:16px;
    background: var(--bg-black-900);
    
}
*{
    margin:0;
    padding:0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none ;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px ;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;

}
.section.back-section{
    z-index: 1;
}
.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 0.5s ease;
    
}
@keyframes slideSection{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(0%);
    }
}
.hidden{
    display: none !important;
}


.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
   
    
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;

}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: " ";
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: " ";
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    
}
.btn{/*------BUTTON---------*/
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-black-900);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.shadow-dark{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*------------SIDE HEADER----------*/
.aside{
    background: #040b14;
    width: 270px;
    position:fixed;
    left: 0;
    top: 0;
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 10;
    border-right: 2px solid var(--bg-black-50);
    transition: all 0.3s ease;
}

/*LOGO*/
.aside .logo img{
    height: 120px;
    width: 120px;
    animation: breathing 5s ease-out infinite ;
}
@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    
      25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    
      60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
      }
    
      100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
  }
}
  
.aside .logo{
    position: absolute;
    top: 10%;
    font-size: 30px;
    text-transform: capitalize;

}
.aside .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    
}
.aside .logo a span{
    font-family: 'Clicker Script';
    font-family: 40px;
}
.aside .logo a::before{
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    position:absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    bottom: 0;
    right: 0;
}
.aside .nav-toggler.open span::before{
    transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggler.open span::after{
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.aside .nav-toggler span{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}


/*-------------SIDE NAV BAR-------------*/
.aside .nav{
    margin-top: 50px;
    text-decoration: none;
    
}
.aside .nav li{
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
}
.aside .nav li a{
    font-size: 18px;
    font-weight: 500;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--bg-black-50);
    padding: 5px 8px;
    text-decoration: none;

}
.aside .nav li a:hover{
    font-weight: bold;
    color: #0C64B7;

}
.aside .nav li a.active{
    border-bottom: 3px solid var(--skin-color);
    
}
.aside .nav li a i{
    margin-right: 15px ;
}
/*-----------HOME SECTION-----------*/
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900)
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;

}
.home h3{
    font-size: 30px;
    margin: 15px 0;
}
.home h1{
    font-size: 55px;
    margin: 1px 0;
}

.typing{
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img{ /*HOME PORTRAIT IMAGE*/
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home .home-img img{
    height: 420px;
}
.home .socmed i{
    margin-right: 15px;
    color: black;
    font-size: 35px;
}
.home .socmed i:hover{
    color: var(--skin-color);
    font-weight: 500px;
    transform: scale(1.5);
}

/*-----ABOUT SECTION-----*/
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700px;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info{
    flex: 0 0 50%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
    font-weight: 400;
    color: var(--text-black-700);
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px; /*-----BTN-----*/
}
   

/*-----Education / Experience-----*/
.about{
    padding-bottom: 8%;
}
.about .about-content .education,
.about .about-content .experience{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 20px;
}
.about .about-content .timeline .timeline-item:before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-text{
     line-height: 25px;
     font-size: 16px;
     text-align: justify;
     color: var(--text-black-700);
}

 /*----------SKILLS-----------------*/
 .about .about-content .skills-icon {
   padding-left: 8%;
 }
 .about .about-content .skills-icon h4 {
    padding-left: 15%;
    font-size: 20px; 
}
  
 .about .about-content .skills-icon i{
    margin-right: 30px;
    color: black;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.about .about-content .skills-icon  i:hover {
    color: var(--skin-color);
    transform: scale(1.5);
}

.about .about-content .skills{ 
    flex: 0 0 45%;
    margin-top: 30px;
}
.about .about-content .skills .skill-item{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item h5{
    line-height: 40%;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.about .about-content .skills .skill-item{
    margin-bottom: 8px;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

 /*----------SERVICE / BLOGS----------------*/
 
 .service .container{
    padding-bottom: 40px;
    
 }
 .service .service-item{
    margin-bottom: 30px;
   
    max-width: 100%;
}
.service .service-item .service-item-inner{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 14px;
    padding: 70px 20px;
    
    transition: all 0.35 ease;
    box-shadow: 0 0 20px rgba(100, 100, 111, 0.2);
    
}



.service .service-item .service-item-inner h2{
   
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    
}
.service .service-item .service-item-inner p{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
    padding-bottom: 25px;
}
.service .service-item .modal{
    z-index: 100;
    opacity: auto;
 }

/*-------------PORTFOLIO----------------*/
.portfolio .container{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.portfolio .portfolio-heading h2{
    color: var(--text-black-900);
    font-weight: 500;
}
.portfolio .portfolio-item{
    flex: 0 0 50%;
    max-width: 0 0 30%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
    border: 6px solid var(--bg-black-100);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    display:inline;
}

/*-------------CONTACT----------------*/
.contact-title{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact .contact-info-item .icon{
    display: inline-block;
}
.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6{
    flex:0 0 50%;
    max-width: 0 0 50%;
}
.contact .contact-form .col-12{
    flex: 0 0 100%;
    max-width: 100%;

}
.contact .contact-form .form-item{
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea .form-control{
    height: 140px;
}

/*-------------RESPONSIVNESS----------------*/
@media (max-width: 1199px){
    .aside{
        left: -270px;
    }
    .aside.open{
        left: 0;
    }
    .aside .nav-toggler{
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open{
        
        left: 300px;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}
@media (max-width: 991px){
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about .about-content .experience,
    .about .about-content .education,
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display: none;
    }
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 767px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}